/* flas1 */


.run {
	animation: mascota ease 1.2s both;
	-webkit-animation: mascota ease 1.2s both;
	-moz-animation: mascota ease 1.2s both;
	-o-animation: mascota ease  1.2s both;
}

@-moz-keyframes mascota  {
	0% { opacity: 0;}
	40% { transform: translateY(-450px);}
	60% {  transform: translateY(70px);}
	80% { transform: translateY(10px);}
	100% { opacity: 1; transform: translateY(0);}
}

@-webkit-keyframes mascota  {
	0% { opacity: 0; }
	40% { transform: translateY(-450px);}
	60% {  transform: translateY(70px); }
	80% { transform: translateY(10px); }
	100% { opacity: 1; transform: translateY(0); }
}

@keyframes mascota  {
	0% { opacity: 0; }
	40% { transform: translateY(-450px);}
	60% {  transform: translateY(70px); }
	80% { transform: translateY(10px); }
	100% { opacity: 1; transform: translateY(0); }
}

.slide-effect {
	animation: plash ease 1s both;
	-webkit-animation: plash ease 1s both;
	-moz-animation: plash ease 1s both;
	-o-animation: plash ease  1s both;
}

@-webkit-keyframes plash  {
	0% {opacity: 0;}
	100% {opacity: 1; right: 0;}
}

@keyframes plash {
	0% {opacity: 0;}
	100% {opacity: 1; right: 0;}
}

@-moz-keyframes plash {
	0% {opacity: 0;}
	100% {opacity: 1; right: 0;}
}

.slide-effect-2 {
	animation: replash ease 1s both;
	-webkit-animation: replash ease 1s both;
	-moz-animation: replash ease 1s both;
	-o-animation: replash ease  1s both;
}

@-webkit-keyframes replash  {
	100% {right: -100%; }
}

@keyframes replash {
	100% {right: -100%; }
}

@-moz-keyframes replash {
	100% {right: -100%; }
}


.fastSlide1{
	animation: fast ease 0.5s both;
	-webkit-animation: fast ease 0.5s both;
	-moz-animation: fast ease 0.5s both;
	-o-animation: fast ease  0.5s both;	
}

@-moz-keyframes fast {
	100% {right: -100%; }
}

@-webkit-keyframes fast {
	100% {right: -100%; }
}

@keyframes fast {
	100% {right: -100%; }
}

.fastSlide2{
	animation: fast2 ease 0.5s both;
	-webkit-animation: fast2 ease 0.5s both;
	-moz-animation: fast2 ease 0.5s both;
	-o-animation: fast2 ease  0.5s both;	
}

@-moz-keyframes fast2 {
	0% {opacity: 0;}
	100% {opacity: 1; right: 0;}
}

@-webkit-keyframes fast2 {
	0% {opacity: 0;}
	100% {opacity: 1; right: 0;}
}

@keyframes fast2 {
	0% {opacity: 0;}
	100% {opacity: 1; right: 0;}
}

.appear {
	animation: appearanim ease-in-out 1.2s both;
	-webkit-animation: appearanim ease-in-out 1.2s both;
	-moz-animation: appearanim ease-in-out 1.2s both;
	-o-animation: appearanim ease-in-out  1.2s both;
}

@-moz-keyframes appearanim  {
	0% { opacity: 0;}
	40% { transform: translateX(-450px);}
	60% { transform: translateX(70px);}
	80% { transform: translateX(10px);}
	100% { opacity: 1; transform: translateX(0);}
}

@-webkit-keyframes appearanim  {
	0% { opacity: 0; }
	40% { transform: translateX(-450px);}
	60% {  transform: translateX(70px); }
	80% { transform: translateX(10px); }
	100% { opacity: 1; transform: translateX(0); }
}

.changeColorVoted {
	animation: changeColor ease 1.2s both;
	-webkit-animation: changeColor ease 1.2s both;
	-moz-animation: changeColor ease 1.2s both;
	-o-animation: changeColor ease  1.2s both;
}

@-moz-keyframes changeColor  {
	100% { background-color: #AD0505;}
}

@-webkit-keyframes changeColor  {
	100% { background-color: #AD0505;}
}


@keyframes changeColor  {
	100% {background-color: #AD0505;}
}

.voted {
	animation: voteAnim ease 1.2s both;
	-webkit-animation: voteAnim ease 1.2s both;
	-moz-animation: voteAnim ease 1.2s both;
	-o-animation: voteAnim ease  1.2s both;
}

@-moz-keyframes voteAnim  {
	0% { opacity: 0;}
	40% { transform: translateY(450px);}
	60% {  transform: translateY(-70px);}
	80% { transform: translateY(10px);}
	100% { opacity: 1; transform: translateY(0); background-color: #AD0505;}
}

@-webkit-keyframes voteAnim  {
	0% { opacity: 0; }
	40% { transform: translateY(450px);}
	60% {  transform: translateY(-70px); }
	80% { transform: translateY(10px); }
	100% { opacity: 1; transform: translateY(0); background-color: #AD0505;}
}


@keyframes voteAnim  {
	0% { opacity: 0; }
	40% { transform: translateY(450px);}
	60% {  transform: translateY(-70px); }
	80% { transform: translateY(10px); }
	100% { opacity: 1; transform: translateY(0); background-color: #AD0505;}
}


.run_inverse {
	animation: mascota_inverse ease 1.2s both;
	-webkit-animation: mascota_inverse ease 1.2s both;
	-moz-animation: mascota_inverse ease 1.2s both;
	-o-animation: mascota_inverse ease  1.2s both;
}

@-moz-keyframes mascota_inverse  {
	0% { opacity: 0;}
	40% { transform: translateY(450px);}
	60% {  transform: translateY(-70px);}
	80% { transform: translateY(10px);}
	100% { opacity: 1; transform: translateY(0);}
}

@-webkit-keyframes mascota_inverse  {
	0% { opacity: 0; }
	40% { transform: translateY(450px);}
	60% {  transform: translateY(-70px); }
	80% { transform: translateY(10px); }
	100% { opacity: 1; transform: translateY(0); }
}


@keyframes mascota_inverse  {
	0% { opacity: 0; }
	40% { transform: translateY(450px);}
	60% {  transform: translateY(-70px); }
	80% { transform: translateY(10px); }
	100% { opacity: 1; transform: translateY(0); }
}

.dissapear {
	animation: dissapear ease-in-out 1s both;
	-webkit-animation: dissapear ease-in-out 1s both;
	-moz-animation: dissapear ease-in-out 1s both;
	-o-animation: dissapear ease-in-out  1s both;
}

@-moz-keyframes dissapear  {
	0% { opacity: 1; transform: translateX(0px);}
	60% {  transform: translateX(70px);}
	100% { opacity: 0; transform: translateX(150px);}

}

@-webkit-keyframes dissapear  {
	0% { opacity: 1; transform: translateX(0px); }
	60% {  transform: translateX(-70px);}
	100% { opacity: 0; transform: translateX(450px); }
}


@keyframes dissapear  {
	0% { opacity: 1; transform: translateX(0px); }
	60% {  transform: translateX(-70px);}
	100% { opacity: 0; transform: translateX(450px); }
}