@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
    background-color: #FFFFFF;
    /* background-image: url("../images/tennis-pitch.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: #000000;
    font-family: 'Bangers', cursive;
}

h2 {
    width: 100%;
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
    color: #000000;
    font-family: 'Bangers', cursive;
}

#swipeArea{
    width: 100%;
    padding: 20% 0;
    background-color: #009900;
    font-family: Consolas, Menlo, Monaco, monospace;
    font-size: 1rem;
    color: #FFFFFF;
    text-align: center;
}

.box {
    display: table;
}

#content {
    display: none;
}

#loading {
    height: 100%;
    width: 100%;
    background-color: red;
}