@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: #056100;
    /* background-image: url("../images/tennis-pitch.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: white;
    font-family: 'Bangers', cursive;
}

h2 {
    width: 100%;
    text-align: center;
    font-weight: 200;
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#content {
    width: 100%;
    display: table;
}

#swipeArea{
    width: 100%;
    height: 20rem;
    margin: 5px;
    padding: 5px;
    background-color: #409141;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#swipeArea #tweet {
    max-width: 25%;
}