@import url(https://fonts.googleapis.com/css?family=Bangers);

body {
    background-color: antiquewhite;
    /* background-image: url("../images/tennis-pitch.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 7em;
    color: #000000;
    font-family: 'Bangers', cursive;
}

p {
    text-align: center;
    font-size: 2rem ;
    color: #000000;
    font-family: Consolas, Menlo, Monaco, monospace;
}

#swipeArea{
    width: 100%;
    height: 20rem;
    background-color: #00AA00;
}