@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: #FFFFFF;
    /* background-image: url("../images/tennis-pitch.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 14em;
    font-weight: 400;
    color: #000000;
    font-family: 'Bangers', cursive;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 3em;
    font-weight: 400;
    color: black;
    opacity: 0.6;
    font-family: 'Roboto', sans-serif;
}

h3 {
    text-align: center;
    font-size: 3rem;
    color: #000000;
    font-weight: 200;
    font-family: 'Bangers', cursive;   
}

#instructions {
    margin: auto;
    text-align: center;
    vertical-align: middle;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
}

#clock {
    margin: auto;
    text-align: center;
    width: 70%;
    background-color: #DDDDDD;
    color: #111111;
    font-size: 3rem;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;   
}

#team1, #team2 {
    text-align: center;
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
}

#team1 {
    float: left;
    margin-left: 20%;
}

#team2 {
    float: right;
    margin-right: 20%;
}
