/* all css */
/* reset */
section, article, figure, header {
  display: block; }

body, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0; }

.t {
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }

ul {
  list-style-type: none; }

/* general */
html, body, article, section {
  height: 100%; }

body {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  color: black;
  background: white; }

/* mixins SASS */
.rad_small {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px; }

.circle {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%; }

/* variables */
/* flas1 */
.run, header {
  animation: mascota ease 1.2s both;
  -webkit-animation: mascota ease 1.2s both;
  -moz-animation: mascota ease 1.2s both;
  -o-animation: mascota ease  1.2s both; }

@-moz-keyframes mascota {
  0% {
    opacity: 0; }
  40% {
    transform: translateY(-450px); }
  60% {
    transform: translateY(70px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes mascota {
  0% {
    opacity: 0; }
  40% {
    transform: translateY(-450px); }
  60% {
    transform: translateY(70px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes mascota {
  0% {
    opacity: 0; }
  40% {
    transform: translateY(-450px); }
  60% {
    transform: translateY(70px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.push {
  animation: all pushAnim ease-in-out 1.2s both;
  -webkit-animation: pushAnim ease-in-out 1.2s both;
  -moz-animation: pushAnim ease-in-out 1.2s both;
  -o-animation: pushAnim ease-in-out  1.2s both; }

@-moz-keyframes pushAnim {
  0% {
    opacity: 1; }
  100% {
    background-color: white;
    margin-left: -100%;
    opacity: 0; } }
@-webkit-keyframes pushAnim {
  0% {
    opacity: 1; }
  100% {
    margin-left: -100%;
    opacity: 0; } }
@keyframes pushAnim {
  0% {
    opacity: 1; }
  100% {
    margin-left: -100%;
    opacity: 0; } }
.push2 {
  animation: enterArticle ease 0.6s both;
  -webkit-animation: enterArticle ease 0.6s both;
  -moz-animation: enterArticle ease 0.6s both;
  -o-animation: enterArticle ease  0.6s both; }

@-moz-keyframes enterArticle {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    background-color: black; } }
@-webkit-keyframes enterArticle {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    background-color: black; } }
@keyframes enterArticle {
  0% {
    opacity: 0; }
  100% {
    opacity: 1;
    background-color: black; } }
.appear, aside.slide-2 section.up h2, aside.slide-2 section.down h3 {
  animation: appearanim ease-in-out 1.2s both;
  -webkit-animation: appearanim ease-in-out 1.2s both;
  -moz-animation: appearanim ease-in-out 1.2s both;
  -o-animation: appearanim ease-in-out  1.2s both; }

@-moz-keyframes appearanim {
  0% {
    opacity: 0; }
  40% {
    transform: translateX(-450px); }
  60% {
    transform: translateX(70px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes appearanim {
  0% {
    opacity: 0; }
  40% {
    transform: translateX(-450px); }
  60% {
    transform: translateX(70px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
.run_inverse, aside.slide-1 section, aside.slide-2 section {
  animation: mascota_inverse ease 1.2s both;
  -webkit-animation: mascota_inverse ease 1.2s both;
  -moz-animation: mascota_inverse ease 1.2s both;
  -o-animation: mascota_inverse ease  1.2s both; }

@-moz-keyframes mascota_inverse {
  0% {
    opacity: 0; }
  40% {
    transform: translateY(450px); }
  60% {
    transform: translateY(-70px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes mascota_inverse {
  0% {
    opacity: 0; }
  40% {
    transform: translateY(450px); }
  60% {
    transform: translateY(-70px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@keyframes mascota_inverse {
  0% {
    opacity: 0; }
  40% {
    transform: translateY(450px); }
  60% {
    transform: translateY(-70px); }
  80% {
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.dissapear, aside.slide-1 section.instruction h2.none, aside.slide-1 section.game h2.none {
  animation: dissapear ease-in-out 1s both;
  -webkit-animation: dissapear ease-in-out 1s both;
  -moz-animation: dissapear ease-in-out 1s both;
  -o-animation: dissapear ease-in-out  1s both; }

@-moz-keyframes dissapear {
  0% {
    opacity: 1;
    transform: translateX(0px); }
  60% {
    transform: translateX(70px); }
  100% {
    opacity: 0;
    transform: translateX(150px); } }
@-webkit-keyframes dissapear {
  0% {
    opacity: 1;
    transform: translateX(0px); }
  60% {
    transform: translateX(-70px); }
  100% {
    opacity: 0;
    transform: translateX(450px); } }
@keyframes dissapear {
  0% {
    opacity: 1;
    transform: translateX(0px); }
  60% {
    transform: translateX(-70px); }
  100% {
    opacity: 0;
    transform: translateX(450px); } }
/* reset format */
header {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: red; }
  header .title {
    width: 90%;
    height: 5%;
    float: left; }
    header .title p {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1rem; }
  header .info {
    width: 10%;
    float: right; }

.slide-effect, aside.slide-2 {
  animation: plash ease 4s both;
  -webkit-animation: plash ease 4s both;
  -moz-animation: plash ease 4s both;
  -o-animation: plash ease  4s both; }

@-webkit-keyframes plash {
  100% {
    right: 0;
    background: black; } }
.slide-effect-2, aside.slide-1.gone {
  animation: replash ease 4s both;
  -webkit-animation: replash ease 4s both;
  -moz-animation: replash ease 4s both;
  -o-animation: replash ease  4s both; }

@-webkit-keyframes replash {
  100% {
    right: -100%; } }
aside {
  width: 100%;
  height: 100%;
  position: fixed;
  display: table; }
  aside.slide-1 {
    top: 0;
    right: 0;
    background: black;
    z-index: 1; }
    aside.slide-1.gone {
      /* effecto 1 */ }
    aside.slide-1 section {
      width: 100%;
      overflow: auto;
      margin: 0;
      color: white;
      text-align: center;
      height: 60%; }
      aside.slide-1 section.instruction h2 {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        font-weight: 300;
        font-size: 3rem; }
      aside.slide-1 section.game h2 {
        position: absolute;
        opacity: 0.5;
        left: 0;
        right: 0;
        bottom: 0;
        font-weight: 100;
        font-size: 3rem; }
  aside.slide-2 {
    top: 0;
    right: 100%;
    background: #9000ff;
    z-index: 2;
    /* effecto 1 */ }
    aside.slide-2 section {
      width: 100%;
      overflow: auto;
      margin: 0;
      color: white;
      text-align: center;
      height: 50%; }
      aside.slide-2 section.up h2 {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        font-weight: 100;
        font-size: 3rem; }
      aside.slide-2 section.down h3 {
        position: absolute;
        opacity: 0.5;
        left: 0;
        right: 0;
        bottom: 0;
        font-weight: 300;
        font-size: 1.5rem; }
  aside h2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 4rem; }

/* reset format */
/* variables */

/*# sourceMappingURL=index.css.map */
