/* Front-end style */

.container{
	width: 100%;
	height: 100%;
	overflow: hidden;	
}

article {
	width: 100%;
	height: 100%;
	position: absolute;

	&.init{
		section {
			width: 100%;		
			color: black;
			display: table;
			text-align: center;

			.content{
				vertical-align: middle;
				/*display: table-row;*/
				@extend .boing;

				h1 {	
					font-size: 15em;
					font-weight: 400;			
					font-family: 'Bangers', cursive;
					display: block;
					width: 100%;
					margin-top: 15%;
					text-align: center;
					&.instructions{
						@extend .title;
					}
				}

				h2 {
					font-size: 2em;
					font-weight: 200;
				}

				img {
					z-index: -1;
					position: absolute;
					top: -6%;
					background-color: transparent;

					&#tennisGirl{
						left: 0;
					}

					&#tennisBoy{
						right: 0;
					}
				}
			}

			.instructions{
				vertical-align: middle;
				font-size: 2em;
				margin-top: 5%;
				@extend .boing;
			}
		}
	}

	&.bye{
		@extend .push;
	}

	&#scoreboard {
		margin-left: 100%;

		&.scoreboard {
			width: 100%;
			height: 100%;
			margin-left: 100%;
			background-color: #053005;
			color: white;
			@extend .push2;

			aside {
				position: fixed;
				top: 5%;
				left: 100%;
				width: 40%;
				height: 10%;
				.time {
					width: 100%;
					height: 40px;
					position: relative;
					background: #C41212;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					border-radius: 10px;
					.progress {
						height: 100%;
						background: #FFEA00;
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						border-radius: 10px;
					}
				}

				&.enterTime {
					@extend .pushTime;
				}
			}
		}
	}
}
