/* reset */

section, article, figure, header {
	display: block;
}

body, h1, h2, h3, h4, h5, h6, ul {
  margin: 0;
  padding: 0;       
}               

/* general */      

html, body, article, section {
  height: 100%;
}

body {      
  font-family: 'Roboto', sans-serif;
  color: black;
  background: white;
}


.t {
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}